:root {
    --line-height: 1.618;
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --border: #d8dae1;
    --accent: #0d47a1;
    --accent-light: #90caf9;
    --code: #95b3f5;
    --preformatted: #444;
    --marked: #5b97e6;
    --disabled: #efefef
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg: #212121;
        --accent-bg: #2b2b2b;
        --text: #dcdcdc;
        --text-light: #ababab;
        --border: #666;
        --accent: #4879e4;
        --accent-light: #ffecb3;
        --code: #a4dafa;
        --preformatted: #ccc;
        --disabled: #111
    }
}

html {
    font-family: sans-serif;
}

body {
    color: var(--text);
    background: var(--bg);
    line-height: var(--line-height);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 .5rem;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word
}

@media (max-width: 480px) {
    body {width: 100%;}
}
@media (max-width: 768px) {
    body {width: 95%;}
}
@media (max-width: 1600px) {
    body {width: 90%;}
}

header {
    background: var(--accent-bg);
    border-bottom: 1px solid var(--border);
    text-align: center;
    padding: 2rem .5rem;
    width: 100vw;
    position: relative;
    box-sizing: border-box;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw
}

header h1,
header p {
    margin: 0
}

main {
    padding-top: 1.5rem
}

h1,
h2,
h3 {
    line-height: 1.1
}

nav {
    font-size: 1rem;
    line-height: 2;
    padding: 1rem 0
}

nav a {
    margin: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text) !important;
    display: inline-block;
    padding: .1rem 1rem;
    text-decoration: none;
    transition: .4s
}

nav a:hover {
    color: var(--accent) !important;
    border-color: var(--accent)
}

nav a.current:hover {
    text-decoration: none
}

footer {
    margin-top: 4rem;
    padding: 1rem 0 1.5rem 0;
    color: var(--text-light);
    font-size: .8rem;
    text-align: center;
    border-top: 1px solid var(--border);
    opacity: 0.6
}

a,
a:visited {
    color: var(--accent)
}

a:hover {
    text-decoration: none
}

[role=button],
a button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    border: none;
    border-radius: 5px;
    background: var(--accent);
    font-size: 1rem;
    color: var(--bg);
    padding: .7rem .9rem;
    margin: .5rem 0;
    transition: .4s
}

[role=button][aria-disabled=true],
a button[disabled],
button[disabled],
input[type=button][disabled],
input[type=checkbox][disabled],
input[type=radio][disabled],
input[type=reset][disabled],
input[type=submit][disabled],
select[disabled] {
    cursor: default;
    opacity: .5;
    cursor: not-allowed
}

input:disabled,
select:disabled,
textarea:disabled {
    cursor: not-allowed;
    background-color: var(--disabled)
}

input[type=range] {
    padding: 0
}

abbr {
    cursor: help
}

[role=button]:focus,
[role=button]:not([aria-disabled=true]):hover,
button:enabled:hover,
button:focus,
input[type=button]:enabled:hover,
input[type=button]:focus,
input[type=checkbox]:enabled:hover,
input[type=checkbox]:focus,
input[type=radio]:enabled:hover,
input[type=radio]:focus,
input[type=reset]:enabled:hover,
input[type=reset]:focus,
input[type=submit]:enabled:hover,
input[type=submit]:focus {
    filter: brightness(1.4);
    cursor: pointer
}

details {
    background: var(--accent-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    margin-bottom: 1rem
}

summary {
    cursor: pointer;
    font-weight: 700;
    padding: .6rem 1rem
}

details[open] {
    padding: .6rem 1rem .75rem 1rem
}

details[open] summary {
    margin-bottom: .5rem;
    padding: 0
}

details[open]>:last-child {
    margin-bottom: 0
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1.5rem 0
}

td,
th {
    border: 1px solid var(--border);
    text-align: left;
    padding: .5rem
}

th {
    background: var(--accent-bg);
    font-weight: 700
}

tr:nth-child(even) {
    background: var(--accent-bg)
}

table caption {
    font-weight: 700;
    margin-bottom: .5rem
}

ol,
ul {
    padding-left: 3rem
}

input,
select,
textarea {
    font-size: inherit;
    font-family: inherit;
    padding: .5rem;
    margin-bottom: .5rem;
    color: var(--text);
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    width: 60%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

select {
    background-image: linear-gradient(45deg, transparent 49%, var(--text) 51%), linear-gradient(135deg, var(--text) 51%, transparent 49%);
    background-position: calc(100% - 20px), calc(100% - 15px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat
}

select[multiple] {
    background-image: none !important
}

input[type=checkbox],
input[type=radio] {
    vertical-align: bottom;
    position: relative
}

input[type=radio] {
    border-radius: 100%
}

input[type=checkbox]:checked,
input[type=radio]:checked {
    background: var(--accent)
}

input[type=checkbox]:checked::after {
    content: " ";
    width: .1em;
    height: .25em;
    border-radius: 0;
    position: absolute;
    top: .05em;
    left: .18em;
    background: 0 0;
    border-right: solid var(--bg) .08em;
    border-bottom: solid var(--bg) .08em;
    font-size: 1.8em;
    transform: rotate(45deg)
}

input[type=radio]:checked::after {
    content: " ";
    width: .25em;
    height: .25em;
    border-radius: 100%;
    position: absolute;
    top: .125em;
    background: var(--bg);
    left: .125em;
    font-size: 32px
}

textarea {
    width: 80%
}

@media only screen and (max-width:720px) {
    input,
    select,
    textarea {
        width: 100%
    }
}

input[type=checkbox],
input[type=radio] {
    width: auto
}

input[type=file] {
    border: 0
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0
}

hr {
    color: var(--border);
    border-top: 1px;
    margin: 3rem auto
}

mark {
    padding: 2px 5px;
    border-radius: 4px;
    background: var(--marked)
}

blockquote {
    margin: 0 0 2rem 0.5rem;
    padding: .4rem .8rem;
    border-left: .35rem solid var(--accent);
    opacity: .8;
    font-style: italic
}

cite {
    font-size: .9rem;
    color: var(--text-light);
    font-style: normal
}

code,
kbd,
pre,
pre span,
samp {
    font-size: 1.075rem;
    font-family: var(--mono-font);
    color: var(--code)
}

kbd {
    color: var(--preformatted);
    border: 1px solid var(--preformatted);
    border-bottom: 3px solid var(--preformatted);
    border-radius: 5px;
    padding: .1rem
}

pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto;
    overflow-x: auto;
    color: var(--preformatted);
    background: var(--accent-bg);
    border: 1px solid var(--border);
    border-radius: 5px
}

pre code {
    color: var(--preformatted);
    background: 0 0;
    margin: 0;
    padding: 0
}

#language-chooser {
    font-size: 0.8rem;
    display: inline-block
}

#language-chooser select,
#language-chooser input {
    padding: 0.3rem 1.5rem;
    width: auto;
}

.small {
    font-size: .8rem;
}

.help {
    cursor: help
}

.gallery {
    display: grid;
    gap: 15px;
    margin-bottom: 1rem;
}

.gallery a{
    text-decoration: none;
    color: var(--text);
}

@media (min-width: 480px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1260px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.gallery-image {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    display: inline-block;
}

figcaption {
    font-size: 0.9rem;
}

.gallery-image:before,
.gallery-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gallery-image:after {
    border-width: 0;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.gallery-in-list{
    padding: 5px 15px;
    margin-bottom: 3rem;
    border: 1px solid var(--accent-bg)
}
