{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
  {{ block.super }}
  {% with request.resolver_match.view_name as view_name %}
    {% if view_name == "admin:gallery_gallery_changelist" %}
      <li>
        <a class="addlink" href="{% url "admin:upload_multiple_files" %}">{% translate "Add gallery from multiple files" %}</a>
      </li>
    {% endif %}
  {% endwith %}
{% endblock %}
