{% load i18n %}

<nav class="center">
  {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; {% translate "First" %}</a>
    <a href="?page={{ page_obj.previous_page_number }}">{% translate "Previous" %}</a>
  {% endif %}

  {% blocktranslate with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}
    Page {{ current_page }} of {{ total_pages }}
  {% endblocktranslate %}

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{% translate "Next" %}</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">{% translate "Last" %} &raquo;</a>
  {% endif %}
</nav>
