{% extends "base.html" %}
{% load humanize %}
{% load thumbnail %}
{% load i18n %}

{% block title %}{% translate "Galleries" %}{% endblock title %}
{% block h1 %}{% translate "Galleries" %}{% endblock h1 %}

{% block main %}
  {% for gallery in galleries %}

    <article class="gallery-in-list">
      <h2>
        {% if gallery.is_password_protected %}<span class="help" title="{% translate "This gallery is protected by a password." %}">🔒</span>{% endif %}
        <a href="{% url "gallery_detail" gallery.slug %}">{{ gallery.title }}</a>
      </h2>
      <blockquote>
        <span class="help" title="{{ gallery.date_added }}">
          {% translate "Published" %} {{ gallery.date_added|naturaltime }}
        </span>
        {% translate "by" %} {{ gallery.added_by }}{% if gallery.date_edit %},
          <span class="help" title="{{ gallery.date_edit }}">{% translate "updated" %} {{ gallery.date_edit|naturaltime }}</span>{% endif %}{% if gallery.is_password_protected and session_gallery_valid or not gallery.is_password_protected  %}, {{ gallery.image_set.all|length }} {% translate "image" %}{{ gallery.image_set.all|length|pluralize }}{% endif %}.
        {% if gallery.have_a_hash_protection %}
          <br /><i>{% translate "This gallery is private (it has a private url and does not appear on the gallery list)." %}</i>
        {% endif %}
      </blockquote>
      {% if gallery.short_description %}
        <p>{{ gallery.short_description }}</p>
      {% else %}
        {% translate "No description." %}
      {% endif %}
      <span>
        {% for image in gallery.image_set.all %}
          {% if not gallery.short_description or forloop.counter <= 5 and not gallery.is_password_protected %}
            <img src="{% thumbnail image.image "120x120" as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ image.short_description }}" title="{{ image.short_description }}" loading="lazy" />
          {% endif %}
        {% endfor %}
        {% if gallery.short_description and gallery.image_set.all.count > 5 %}
          <p>... {% translate "And more!" %}</p>
        {% endif %}
      </span>
    </article>

  {% empty %}
    <p>
      {% translate "No gallery for now." %}
    </p>
  {% endfor %}

  {% include "pagination.html" %}
{% endblock main %}
