{% load humanize %}
{% load thumbnail %}
{% load i18n %}

<section>

  <h2>
    {% if gallery.is_password_protected %}<span class="help" title="{% translate "This gallery is protected by a password." %}">🔒</span>{% endif %}
    <a href="{% url "gallery_detail" gallery.slug %}">{{ gallery.title }}</a>
  </h2>

  <blockquote>
    <span class="help" title="{{ gallery.date_added }}">
      {% translate "Published" %} {{ gallery.date_added|naturaltime }}
    </span>
    {% translate "by" %} {{ gallery.added_by }}{% if gallery.date_edit %},
      <span class="help" title="{{ gallery.date_edit }}">{% translate "updated" %} {{ gallery.date_edit|naturaltime }}</span>{% endif %}{% if gallery.is_password_protected and session_gallery_valid or not gallery.is_password_protected  %}, {{ gallery.image_set.all|length }} {% translate "image" %}{{ gallery.image_set.all|length|pluralize }}{% endif %}.
    {% if gallery.have_a_hash_protection %}
      <br /><i>{% translate "This gallery is private (it has a private url and does not appear on the gallery list)." %}</i>
    {% endif %}
  </blockquote>

  {{ gallery.content|safe }}

  <article class="gallery" id="{{ gallery.slug }}">
    {% for image in gallery.image_set.all %}
      <a href="{{ image.image.url }}" data-pswp-width="{{ image.image.width|cut:" " }}" data-pswp-height="{{ image.image.height|cut:" " }}" data-cropped="true">
        <figure class='gallery-image' >
          {% if item.image|is_portrait %}
            {% thumbnail image.image "600" as thumb %}
              <img src="{{ thumb.url }}" alt="{{ image.short_description }}" title="{{ image.short_description }}" loading="lazy" />
            {% endthumbnail %}
          {% else %}
            {% thumbnail image.image "x400" as thumb %}
              <img src="{{ thumb.url }}" alt="{{ image.short_description }}" title="{{ image.short_description }}" loading="lazy" />
            {% endthumbnail %}
          {% endif %}
          {% if image.short_description %}
            <figcaption>{{ image.short_description }}</figcaption>
          {% endif %}
          {% if image.license %}
            <figcaption class="small">
              <i>{% translate "The previous image is on license " %}</i> {{ gallery.license.name }} <i>(<a href="{{ gallery.license.url }}">{% translate "More informations" %}</a>)</i>.
            </figcaption>
          {% endif %}
        </figure>
      </a>
    {% endfor %}
  </article>
</section>
