{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% load i18n %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static "css/photoswipe.css" %}">
  <link rel="stylesheet" href="{% static "css/photoswipe-dynamic-caption-plugin.css" %}">
{% endblock custom_css %}

{% block title %}{% translate "Gallery" %} | {{ gallery.title }}{% endblock title %}
{% block h1 %}{{ gallery.title }}{% endblock h1 %}

{% block main %}
  {% if is_protected_by_hash and url_has_a_hash or not is_protected_by_hash %}

    {% if gallery.is_password_protected and session_gallery_valid or not gallery.is_password_protected %}

      {% include "gallery/gallery_images.html" %}
      {% if gallery.license %}
        <details>
          <summary><i>{% translate "All images on this gallery (except the ones that have another license) are on license " %}</i> {{ gallery.license.name }}</summary>
          <p><i><a href="{{ gallery.license.url }}">{% translate "More informations" %}</a></i></p>
          <pre>
            {{ gallery.license.license }}
          </pre>
        </details>
      {% endif %}
    {% else %}
      <p>{% translate "This gallery is protected by a password." %}</p>
      <form action="{% url "gallery_detail" gallery.slug %}" method="post">
        {% csrf_token %}
        {{ password_form.as_p }}
        <input type="submit" value="Submit">
      </form>
    {% endif %}

  {% else %}
    <p>
      {% translate "This gallery is protected and is only accessible by using the secret link." %}
    </p>
  {% endif %}
{% endblock main %}

{% block custom_js %}
  <script type="module">
    import PhotoSwipeLightbox from '{% static "js/photoswipe-lightbox.esm.min.js" %}';
    import PhotoSwipeDynamicCaption from '{% static "js/photoswipe-dynamic-caption-plugin.esm.js" %}';
    const lightbox = new PhotoSwipeLightbox({
      gallery: '#{{ gallery.slug }}',
      children: 'a',
      pswpModule: () => import('{% static "js/photoswipe.esm.min.js" %}'),
      paddingFn: (viewportSize) => {
        return {
          top: 30, bottom: 30, left: 70, right: 70
        }
      },
    });
    const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
      type: 'auto',
    });
    lightbox.init();
  </script>
{% endblock custom_js %}
