{% extends "admin/change_list.html" %}
{% load i18n %}

{% block title %}{% translate "Upload multiple files" %} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block object-tools %}
{% endblock object-tools %}

{% block search %}
{% endblock %}

{% block result_list %}
{% endblock result_list %}

{% block pagination %}
{% endblock pagination %}

{% block content %}
  <div id="content-main">
    <h1>{% translate "Add multiple files" %}</h1>
    <form enctype="multipart/form-data" method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="{% translate "Send" %}" />
    </form>
  </div>
{% endblock content %}
